/Packages/FBXImporterManaged/Debug (SDK v2011.3.1)/FBXImporterManaged.write.1.tlog
/Packages/FBXImporterManaged/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.obj
/Packages/FBXImporterManaged/Debug/AnimationTrack.obj
/Packages/FBXImporterManaged/Debug/BaseObject.obj
/Packages/FBXImporterManaged/Debug/CL.read.1.tlog
/Packages/FBXImporterManaged/Debug/CL.write.1.tlog
/Packages/FBXImporterManaged/Debug/FBXImporterManaged.Build.CppClean.log
/Packages/FBXImporterManaged/Debug/FBXImporterManaged.dll.intermediate.manifest
/Packages/FBXImporterManaged/Debug/FBXImporterManaged.lastbuildstate
/Packages/FBXImporterManaged/Debug/FBXImporterManaged.log
/Packages/FBXImporterManaged/Debug/FBXImporterManaged.pch
/Packages/FBXImporterManaged/Debug/FBXImporterManaged.write.1.tlog
/Packages/FBXImporterManaged/Debug/FBXImporterManaged2.Build.CppClean.log
/Packages/FBXImporterManaged/Debug/FBXImporterManaged2.lastbuildstate
/Packages/FBXImporterManaged/Debug/FBXImporterManaged2.log
/Packages/FBXImporterManaged/Debug/HardwareMaterials.obj
/Packages/FBXImporterManaged/Debug/Helpers.obj
/Packages/FBXImporterManaged/Debug/LayerElements.obj
/Packages/FBXImporterManaged/Debug/Layers.obj
/Packages/FBXImporterManaged/Debug/Materials.obj
/Packages/FBXImporterManaged/Debug/NodeMesh.obj
/Packages/FBXImporterManaged/Debug/NodeSkeleton.obj
/Packages/FBXImporterManaged/Debug/Nodes.obj
/Packages/FBXImporterManaged/Debug/ObjectProperty.obj
/Packages/FBXImporterManaged/Debug/ResolveAssemblyReference.cache
/Packages/FBXImporterManaged/Debug/Scene.obj
/Packages/FBXImporterManaged/Debug/Stdafx.obj
/Packages/FBXImporterManaged/Debug/Textures.obj
/Packages/FBXImporterManaged/Debug/app.res
/Packages/FBXImporterManaged/Debug/cl.command.1.tlog
/Packages/FBXImporterManaged/Debug/link.197080-cvtres.read.1.tlog
/Packages/FBXImporterManaged/Debug/link.197080-cvtres.write.1.tlog
/Packages/FBXImporterManaged/Debug/link.197080.read.1.tlog
/Packages/FBXImporterManaged/Debug/link.197080.write.1.tlog
/Packages/FBXImporterManaged/Debug/link.60016-cvtres.read.1.tlog
/Packages/FBXImporterManaged/Debug/link.60016-cvtres.write.1.tlog
/Packages/FBXImporterManaged/Debug/link.60016.read.1.tlog
/Packages/FBXImporterManaged/Debug/link.60016.write.1.tlog
/Packages/FBXImporterManaged/Debug/link.command.1.tlog
/Packages/FBXImporterManaged/Debug/link.read.1.tlog
/Packages/FBXImporterManaged/Debug/link.write.1.tlog
/Packages/FBXImporterManaged/Debug/mt.command.1.tlog
/Packages/FBXImporterManaged/Debug/mt.read.1.tlog
/Packages/FBXImporterManaged/Debug/mt.write.1.tlog
/Packages/FBXImporterManaged/Debug/rc.command.1.tlog
/Packages/FBXImporterManaged/Debug/rc.read.1.tlog
/Packages/FBXImporterManaged/Debug/rc.write.1.tlog
/Packages/FBXImporterManaged/Debug/vc100.pdb
/Packages/FBXImporterManaged/Release (SDK v2011.3.1)/FBXImporterManaged.write.1.tlog
/Packages/FBXImporterManaged/Release/.NETFramework,Version=v4.0.AssemblyAttributes.obj
/Packages/FBXImporterManaged/Release/AnimationTrack.obj
/Packages/FBXImporterManaged/Release/BaseObject.obj
/Packages/FBXImporterManaged/Release/CL.read.1.tlog
/Packages/FBXImporterManaged/Release/CL.write.1.tlog
/Packages/FBXImporterManaged/Release/FBXImporterManaged.Build.CppClean.log
/Packages/FBXImporterManaged/Release/FBXImporterManaged.dll.intermediate.manifest
/Packages/FBXImporterManaged/Release/FBXImporterManaged.lastbuildstate
/Packages/FBXImporterManaged/Release/FBXImporterManaged.log
/Packages/FBXImporterManaged/Release/FBXImporterManaged.pch
/Packages/FBXImporterManaged/Release/FBXImporterManaged.write.1.tlog
/Packages/FBXImporterManaged/Release/FBXImporterManaged2.lastbuildstate
/Packages/FBXImporterManaged/Release/FBXImporterManaged2.log
/Packages/FBXImporterManaged/Release/HardwareMaterials.obj
/Packages/FBXImporterManaged/Release/Helpers.obj
/Packages/FBXImporterManaged/Release/LayerElements.obj
/Packages/FBXImporterManaged/Release/Layers.obj
/Packages/FBXImporterManaged/Release/Materials.obj
/Packages/FBXImporterManaged/Release/NodeMesh.obj
/Packages/FBXImporterManaged/Release/NodeSkeleton.obj
/Packages/FBXImporterManaged/Release/Nodes.obj
/Packages/FBXImporterManaged/Release/ObjectProperty.obj
/Packages/FBXImporterManaged/Release/ResolveAssemblyReference.cache
/Packages/FBXImporterManaged/Release/Scene.obj
/Packages/FBXImporterManaged/Release/Stdafx.obj
/Packages/FBXImporterManaged/Release/Textures.obj
/Packages/FBXImporterManaged/Release/app.res
/Packages/FBXImporterManaged/Release/cl.command.1.tlog
/Packages/FBXImporterManaged/Release/link-cvtres.read.1.tlog
/Packages/FBXImporterManaged/Release/link-cvtres.write.1.tlog
/Packages/FBXImporterManaged/Release/link.command.1.tlog
/Packages/FBXImporterManaged/Release/link.read.1.tlog
/Packages/FBXImporterManaged/Release/link.write.1.tlog
/Packages/FBXImporterManaged/Release/mt.command.1.tlog
/Packages/FBXImporterManaged/Release/mt.read.1.tlog
/Packages/FBXImporterManaged/Release/mt.write.1.tlog
/Packages/FBXImporterManaged/Release/rc.command.1.tlog
/Packages/FBXImporterManaged/Release/rc.read.1.tlog
/Packages/FBXImporterManaged/Release/rc.write.1.tlog
/Packages/FBXImporterManaged/Release/vc100.pdb

/Packages/SharpMath/Debug/*.pdb
/Packages/SharpMath/Release/*.pdb
/Packages/SharpMath/*.pdb
/*.sdf
/Docs
/Standalones
/Runtime/NoiseParticles
